@import  '../../../../../../defaults.styl'

.formulario-llave-container
    .formulario-llave-content
        .barra-editar-usuario-llave
            padding 5px
            background-color naranja 
            position relative
            height 30px
            display flex
            flex-direction row
            align-items center
            .titulo
                h3
                    margin 0
                    color white
                    font-size 16px
                    font-weight bolder
            .btn-editar-container, .btn-cancelar-container
                position absolute
                top 10
                right 0
            .btn-editar-container
                .btn-editar
                    span
                        font-size 12px
                        color white
                        font-weight bolder
                        mat-icon
                            height 18px !important
                            font-size 16px !important
            .btn-cancelar-container
                .btn-cancelar
                    span
                        font-size 12px
                        color white
                        font-weight bolder
                        mat-icon
                            height 18px !important
                            font-size 16px !important
        .div-formulario-llave
            height 147px
            border 0.5px solid rgba(128, 128, 128, 0.6)
            form
                padding 5px
                margin-top 5px
            .barra-boton-guardar
                display flex
                justify-content center
                align-items center
                .btn-formulario-llave
                    background-color negro
                    span
                        font-size 12px
                        font-weight bolder
                        color white