form(class="example-form")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un IdTwitter",  [(ngModel)]="llave.IdTwitter",  name="IdTwitter")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un IdFacebook", [(ngModel)]="llave.IdFacebook",   name="IdFacebook")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un IdGoogle", [(ngModel)]="llave.IdGoogle",   name="IdGoogle")
        //- mat-form-field
        //-     input(matInput, placeholder="Busca un IdInstagram", [(ngModel)]="llave.IdInstagram",  name="IdInstagram")
        mat-form-field
            input(matInput, placeholder="Busca un password", [(ngModel)]="llave.password",   name="password")
button(mat-raised-button (click)="aceptar()") Aceptar
