
mat-card.componente([ngStyle]="borde")
    mat-toolbar
        mat-toolbar-row(style="justify-content : space-between")
            .titulo
                h3 sliderpromociones
                strong slider
            .detalles
                p Página actual : {{ currentSlide }}
                span Numero de elementos : {{ promos.items.length }}
    .slider(*ngIf="promos")
        ngx-slick.carousel(#slickModal="slick-modal",   [config]="slideConfig",  (afterChange)="afterChange($event)"  )
            .slide(ngxSlickItem,  *ngFor="let promo of promos.items ; index as i ")
                mat-card
                    p {{ i }}
                    p {{  promo.nombre }}


// mat-paginator([length]="promos.items.length", [pageSize]="10", [pageSizeOptions]="[5, 10, 25, 100]")
