
@import  '../../../../../defaults.styl'


.precio
    display flex
    range-slider
        width 163px
        .range-slider
            .info
                display none
            span
                font-size 10px