.formulariousuario-container
    .formulariousuario-content
        .barra-editar-usuario
            .titulo
                h3 Información Básica
            .btn-editar-container(*ngIf="editar===true")
                button.btn-editar(mat-button, (click)="editarusuario()") Editar
                    mat-icon edit
            .btn-cancelar-container(*ngIf="editar===false")
                button.btn-cancelar(mat-button, (click)="editarusuario()") Cancelar
                    mat-icon clear
        .div-formulario
            form
                .line
                    mat-form-field
                        input(matInput, placeholder="Nombre(s):", [(ngModel)]="usuario.nombre",  name="nombre", [disabled]="valid")
                    mat-form-field
                        input(matInput, placeholder="Apellido(s)", [(ngModel)]="usuario.apellido",  name="apellido", [disabled]="valid")
                .line                
                    mat-form-field
                        mat-label ¿Quieres cambiar tu contraseña?
                        input(matInput, placeholder="Correo", [(ngModel)]="usuario.correo", [disabled]="valid",  name="correo")
                    //- mat-form-field
                    //-     input(matInput, placeholder="Busca un status", [(ngModel)]="usuario.status",  name="status")
                    //- mat-form-field
                    //-     input(matInput, placeholder="Busca un tipo", [(ngModel)]="usuario.tipo",  name="tipo")
            .barra-boton-guardar(*ngIf="editar===false")
                button.btn-guardarusuario(mat-raised-button (click)="aceptar()") Guardar
