.ficha-usuario-container
    .ficha-usuario-content
        section
            formulariousuario([usuario]="usuario")
        section(style="margin-top: 30px;")
            formulariollave([llave]="usuario?.Llave")
