
@import  '../../../../../../defaults.styl'

.categoria.encapsulada
    padding 5px
    display flex
    align-items center
    mat-form-field
        .mat-form-field-wrapper
            padding 0px
            margin 0px
        .mat-form-field-outline-end
            border-right 0px
            border-radius 1px 0px 0px 1px
    button
        padding 0px
        margin 0px
        border-left 0px
        width 40px !important
        min-width 40px !important
        height 58.764px
        border-radius 0px 1px 1px 0px
