
@import  '../../../../defaults.styl'

.container
    display flex
    justify-content center
    .content
        width 90%
        display relative
        section
            display flex
            main
                padding 5px
                width 80%
                @media mobile
                    width 100%
            aside
                padding 5px
                width 20%
                @media mobile
                    display none
