//- anuncios
//- .container
//-     .content
//-         section
//-             main
//-                 sliders
//-             aside
//-                 banners

sliderprincipal
promociones
categorias
masvendidos
        
