
@import  '../../../../../../defaults.styl'



.mat-column-nombre
    flex: 0 0 128px


precio, existencia
    width 100%


.version-container
    width 100%
    display: flex
    justify-content: center
    .version
        width 95%
        h4
            color azul1
            font-size: 13px


.preciosyexistencias
    margin 20px 0
