
mat-card.componente
    mat-toolbar
        mat-toolbar-row(style="justify-content : space-between")
            .titulo
                h3 gridproductos
                strong Grid
    mat-grid-list(
        cols="{{columnas}}",
        rowHeight="{{height}}"
        )
        mat-grid-tile( *ngFor="let producto of productos?.items", [colspan]="colspan", [rowspan]="rowspan")
            
mat-paginator([length]="productos.items.length", [pageSize]="10", [pageSizeOptions]="[5, 10, 25, 100]")
